@model Syriatech.WebUI.Models.ErrorViewModel
@{
    ViewData["Title"] = "";
}

<div class="container">
    <h1 class="text-muted">We are working on some new improvments. Thank you for waiting. </h1>
</div>
   